/* styles.css */
body {
 background-color: cornflowerblue;
}
/* App component */
.container {
 display: flex;
 flex-direction: column;
 
 padding: 20px;
}

/* Learner component */
.learner {
 border: 5px solid black;
 padding: 10px;
 margin-bottom: 20px;
 background-color: rgb(233, 223, 140);
}

.learner h2 {
 font-size: 20px;
 margin-bottom: 10px;
}

.learner p {
 margin-bottom: 10px;
}

/* Score component */
.score {
 margin-left: 20px;
}

.score p {
 margin-bottom: 5px;
}
